body{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

/* ------- inicio (index)--------- */

#contenedor{
	height: 1000px;
	width: auto;
}

#arriba{
	height: 125px;
	width: auto;
	background-color: #000000;
	border: 1px solid black;
}



#logoGoTrekking{
	height: 100px;
	width: 400px;
	margin-left: 0px;
	background-color: #FBF1F1;
	background-image: url("../img/logo.png");
	background-size: 100% 100%;
	float: left;
}

#listarriba{
	height: 50px;
	width: 900px;
	margin-top: 30px;
	float: left;
	margin-left: 20px;
	border: 1px solid black;
}

.arribasesion1 li{
	display: inline-block;
}

.arribasesion1 p{
	font-family: 'Poppins', sans-serif;
	font-size: 80%;
	color: #FFFFFF;
	padding: 0;
}

.sinborde {
	border: 0;
	background-color: #F7EEEE;
	outline: none;
}

.content-all{
	height: 1000px;
	width: auto;
	background-image: url("../img/bienvenido.jpg");
	background-size: 100% 100%;
}

#unete{
	height: 700px;
	width: 600px;
	margin-top: 70px;
	margin-left: 100px;
	float: left;
}

.unete1 p{
	font-family: 'Poppins', sans-serif;
	font-size: 150%;
	color: #FFFFFF;
}

#inicio{
	height: 50px;
	width: 100px;
	float: left;
}

#noticias{
	height: 50px;
	width: 100px;
	float: left;

}

#verviajes{
	height: 50px;
	width: 110px;
	float: left;
}

.navlistaarriba ul{
	display: inline-block;
	float: left;
	list-style: none;
}

.navlistaarriba li{
	float: left;
	margin-left: 50px;

}

.sindecoracionLink a{
	text-decoration: none;
}

.navlistaarriba ul a{
	text-decoration: none;
	color: #FFFFFF;
	font-family: 'Poppins', sans-serif;
}

.navlistaarriba nav {
	display: inline-block;
	margin: 0 auto;
}

.navlistaarriba a:hover{
	color: #0107FF;
	font-size: 120%;
	transition: color 2s;
}



/* ------------------- fin inicio index -------------------


/* Sesion arriba izquierda*/

.li_misesion{
  height: 34px;
  width: 230px;
  border: 1px solid black;
  margin-top: 25px;
  margin-left: 60px;
  float:left;
}

.foto_perfil{
  height: 80px;
  width: 100px;
  border : 1px solid black;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}

#sesion{
	width: 500px;
	height: 100px;
	border: 1px solid black;
	float:  left;
	margin-left: 100px;
}

/* ------------------- Registrarse ------------------------- */



#formulario {
	height: 700px;
	width: 600px;
	float: left;
	margin-top: 70px;
	margin-left: 100px;
}

.tablaregistrar p{
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	outline: none;
}

.cargando {
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	outline: none;
}

#cargando1{
	height: 300px;
	width: 300px;
	float: left;
	margin-top: 300px;
}

/* estilo pagina admin */

.admin_menu p,a,li{
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}

#admin_menu{
	height: 500px;
	width: 500px;
	float:  left;
	margin-top: 50px;
	margin-left: 50px;
	border: 1px solid black;

}

.table_guias p{
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
	color: #FFFFFF;
	padding: 0;
}

#tabla_mostrar_guias{
	height:1000px;
	width: 1600px;
	float:  left;
	margin-top: 50px;
	margin-left: 50px;
}


.table_guias table{
	text-align: left;
	width: 100%;
	text-size-adjust: auto;
	table-layout:  fixed;
	font-size: 100%;
}
.table_guias th, td,tr,a{
	font-family: 'Poppins', sans-serif;
	font-size: 100%;
	color: #FFFFFF;
	padding: 0;
	width: 50px;
	height: 50px;
	text-decoration: none;
}

/* Ver viajes desde usuario*/

.viaje1 p{
	font-family: 'Poppins', sans-serif;
	font-size: 80%;
	color: #FFFFFF;
}

.viaje1 {
	height: 300px;
	width: 1500px;
	/* border: 1px solid black; */
	margin-top: 10px;
	margin-left: 100px;
	float: left;
}

.viaje_descripcion {
	height:290px;
	width: 450px;
	/* border: 1px solid black; */
	margin-top: 5px;
	margin-left: 5px;
	float: left;
}

.imagen{
	height: 180px;
	width: 250px;
	/*border: 1px solid black; */
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

/* admin_agregarnoticia */

.admin_noticia{
  width: 500px;
  height: 500px;
  float: left;
  border: 1px solid black;
  margin-top: 200px;
  margin-left: 200px;
}

/* noticias */

.seccion_noticia h1{

}

.seccion_noticia p{

}

.seccion_noticia{
	width: 1400px;
	height: auto;
	float:left;
	margin-top: 30px;
	margin-left: 200px;
}

.noticia{
	width: 400px;
	height: auto;
	float:left;
	border: 1px solid black;
	margin-left: 30px;
}

/* usuario cuestionario */

.cuestionario{
	width: 800px;
	height: 800px;
	border: 1px solid black;
	float:left;
	margin-top: 30px;
	margin-left: 400px;
}

.tabla_pagados table{
	text-align: left;
	width: 100%;
	text-size-adjust: auto;
	table-layout: fixed;
	font-size: 100%;
}


/* usuario postulacion */

.postulacion{
	height: 500px;
	width: 500px;
	border: 1px solid black;
	float: left;
  margin-top: 100px;
  margin-left: 100px;
}

/* perfil usuario */

.perfil_user{
	height: 600px;
	width: 600px;
  margin-top: 100px;
  margin-left: 100px;
  float:left;
}

.foto_p{
  height: 300px;
  width: 300px;
  float: left;
  margin-left: 100px;
  margin-top: 150px;
}

.proximos_viajes{
	height: auto;
	width: 1000px;
	float: left;
	margin-left: 100px;
	margin-top: 150px;
	border: 1px solid black;
}

/* Panel guia */

#arribaSesionGuia{
	width: 300px;
	height: 70px;
	border: 1px solid black;
	float:  left;
	margin-left: 50px;
  margin-top: 50px;
}

#listarribaGuia{
	height: 50px;
	width: 1000px;
	margin-top: 30px;
	float: left;
	margin-left: 20px;
	border: 1px solid black;
}

.guia_misviajes{
  float:left;
  height: auto;
  width: 1300px;
  margin-top: 50px;
  margin-left: 50px;
}
.guia_misviajes table{
  text-align: left;
	width: 100%;
	text-size-adjust: auto;
	table-layout: fixed;
	font-size: 100%;
}

.guia_bitacoraE{
  height: 300px;
  width: 300px;
  float:left;
  margin-top: 50px;
  margin-left: 50px;

}
